name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  mix_test:
    name: mix test (Elixir ${{matrix.elixir}} | Erlang/OTP ${{matrix.otp}})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: 1.13.4
            otp: 24.0
          - elixir: 1.13.4
            otp: 25.0
            run_plugin_tests: true
            warnings_as_errors: true
          - elixir: 1.14.0
            otp: 25.0
            run_plugin_tests: true
            warnings_as_errors: true
          - elixir: 1.15.2
            otp: 26.0
            check_formatted: true
            run_plugin_tests: true
            warnings_as_errors: true
          - elixir: 1.16.0
            otp: 26.2.1
            check_formatted: false
            run_plugin_tests: true
            warnings_as_errors: true
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Install Dependencies
        run: |
          mix local.hex --force
          mix local.rebar --force
          mix deps.get --only test
      - run: mix format --check-formatted
        if: matrix.check_formatted
      - run: mix compile --warnings-as-errors
        if: matrix.warnings_as_errors
      - run: mix test
        if: matrix.run_plugin_tests
      - run: mix test --exclude plugin
        if: ${{ !matrix.run_plugin_tests }}
